*{
    margin: 0;
}

:root{
    --default-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    padding-top: 1em;
    display: flex;
    padding-bottom: 1em;
    justify-content: space-around;
}

.right-navbar button{
    background: transparent;
    padding: 1em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.right-navbar button:hover{
    background-color: rgb(230, 223, 223);
}

.brand-name{
    align-self: center;
    font-size: 1.25em;
    font-weight: 200;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.front-page{
    position: relative;
}
.img{
    width: 100%;
    height: 90vh;
}
.text-overlay{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    left: 50%;
    color: white;
    top: 60%;
    transform: translate(-50%, -50%);
}
.text-overlay h1{
    font-size: 3em;
    text-align: center ;
    font-family: var(--default-family);
    font-weight: 500;
}

.text-overlay h5{
    margin-top: 1em;
    letter-spacing: 2px;
    font-family: var(--default-family);
    
}


.text-overlay button{
    margin-top: 2em;
    border: none;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    background-color: #C66C2D;
}


/* ------Product List-------- */

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    padding-bottom: 2em;
    margin-top: 3em;
}
.product-header{
    padding: 1em;
}
.product-header h1{
    font-family: var(--default-family);
}
.product-header p{
    padding: 1em;
    font-size: 1.25em;
    font-family: monospace;
}

.product-list{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.product-card{
    padding-top: 1em;
    cursor: pointer;
    position: relative;
    width: 25%;
}

.product-img{
    width:100%;
}
.product-detail{
    padding: 1em;
}
.product-title{
    font-family: var(--default-family);
    font-size: 1em;
}

.product-detail p{
    padding-top: 0.5em;
    font-size: 1em;
    font-family: monospace;
}
.btns{
    position: absolute;
    top: 50%;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin-left: 2em;
    background-color: rgb(164, 158, 232);
    padding: 1em;
}

@keyframes opac-animation{
    0%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

#card1{
    animation: opac-animation 0.25s ease-in-out;

}

#card2{
    animation: opac-animation 0.5s ease-in-out;

}

#card3{
    animation: opac-animation 0.75s ease-in-out;

}

#card4{
    animation: opac-animation 1s ease-in-out;

}

#card5{
    animation: opac-animation 1.25s ease-in-out;

}

#card6{
    animation: opac-animation 1.5s ease-in-out;

}

.product-card:hover .btns{
    visibility: visible;
}

.product-card:hover .product-img{
    opacity: 0.5;
}

#btn-2{
    background-color: rgb(76, 237, 146);
}


/* ------categories------- */
.categories{
    margin-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.categories-types{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.categories h1{
    font-family: var(--default-family);
}
.categories p{
    padding-top:1em ;
    font-family: monospace;
}
.categories-list{
    position: relative;
    margin: 1em;
    cursor: pointer;
    margin-top: 2em;
}
.categories-detail-part{
    position: absolute;
    left: 50%;
    top: 50%;
    color: black;
    text-align: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.categories-detail-part h1{
    color: white;
}
.categories-detail-part p{
    letter-spacing: 2px;
    font-size: 1em;
    visibility: hidden;
}

.categories-list:hover .categories-img{
    transition: 0.2s ease-in-out;
    border-radius: 20px;
}


.categories-list:hover p{
    font-weight: 900;
    visibility: visible;
}
/* --------footer-------- */


footer{
    background-color: rgb(229, 235, 240);
    margin-top: 5em;
    padding: 3em;
}
footer h1{
    font-family: var(--default-family);
}
.footer-content{
    display: flex;
    justify-content: space-around;
}